<section>
    {{!-- <h1 class="text-center">My Bag<i class="fa-solid fa-bag-shopping"></i></h1> --}}
    <img src="/assets/img/carbnnr.jpg" width="100%" height="300">

    <div class="container"><br>


        <div class="row">
            <div class="col-12 col-md-9 col-lg-9 col-xl-9 ">
                <table class="w-100 " style="border-collapse: separate;border-spacing:0 10px ; ">

                    <tbody>

                        {{#each products}}
                        <tr>

                            <td><img class="" width="160px" height="160px"
                                    src="/product-images/{{this.product.myimg.[0]}}" alt="">
                            </td>

                            <td> <label class="text-success fw-bold">Name : </label>{{this.product.name}}<br>
                                <label class="text-success fw-bold">Category : </label>{{this.category.name}}<br>

                            </td>


                            <td>
                                <label class="text-success fw-bold">Size : </label>{{this.product.size}}<br>
                                <label class="text-success fw-bold">Price : </label>Rs: {{this.product.price}}
                            </td>



                            <td><label class="text-success fw-bold">Quantity : </label>
                                <div class="border-2 border-primary">

                                    <button class="btn btn-success"
                                        onclick="changeQty('{{this._id}}','{{this.product._id}}',-1,this)">-</button>

                                    <span id="{{this.product._id}}"> {{this.quantity}}</span>

                                    <button class="btn btn-success"
                                        onclick="changeQty('{{this._id}}','{{this.product._id}}',1,this)"> +</button>

                                </div>
            </div>
            </td>
            <td><button class="btn btn-danger border-0" onclick="delCartItem('{{this.product._id}}',this)"><i
                        class="fa-regular fa-x"></i></button>
            </td>
            </tr>

            {{/each}}

            </tbody>

            </table>


        </div>

        <div class="col-12 col-md-3 col-lg-3 col-xl-3 mt-5 bg-light">
            <br>
            <h5>Payment Details...</h5>
            <form action="/place_order" method="post" id="">
                <div class="row ">
                    <p>Get your <a href="" data-bs-toggle="modal" data-bs-target="#couponmodal"> promotion</a></p>
                    {{!-- <button onclick="applyCoupon()" class="btn btn-primary">Apply</button> --}}
                    <input type="text" name="coupon" class="form-control" id="couponID" readonly>
                </div><br>

                <div class="row ">
                    <div class="col">
                        <p class="text-start">Sub total Rs </p>
                        <p>Discount : </p>
                        <p>Shipping : </p>
                        <p>GST :</p>
                        <p>SGST :</p>
                    </div>
                    <div class="col">
                        <p class="text-primary" id="sub-total">{{totalValue}}</p>
                        <p class="text-primary" id="discount">0.0</p>
                        <p class="text-primary">Free</p>
                        <p class="text-primary">0.0</p>
                        <p class="text-primary">0.0</p>
                    </div>
                </div>
                <div class="row">
                    <h3 class="ml-4">Total: Rs. <span class="text-primary" id="total-price">{{totalValue}} </span>
                    </h3>

                    <button type="submit" class="btn btn-success">Place Order<i
                            class="fa-solid fa-cloud-arrow-down"></i></button>


                </div>
            </form>
        </div>

    </div>
    <hr>
    <div class="modal fade" id="couponmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Coupen</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <p class=" text-muted"> Copy paste your coupen code...</p>
                    <hr>
                    <table class="table align-middle text-center" id="bannerJS">
                        <tbody class="border-bottom">
                            {{#each coupens}}
                            <tr>
                                <td>
                                    <p>{{this.coupenname}}</p>
                                </td>
                                <td>
                                    <h4>{{this.coupencode}}</h4>
                                </td>
                                <td>
                                    <button class="btn btn-outline-success border-0" data-bs-toggle="modal"
                                        data-bs-target="#coupenEditModal" id="copy"
                                        onclick="applyCoupon('{{this.coupencode}}')">
                                        <i class="fa-regular fa-copy"></i></button>
                                </td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
<script>

    //function changrValue() {
    //document.getElementById('pro_qty').value = document.getElementById('pro_qty').text
    //alert(document.getElementById('pro_qty').value)
    //}


    //function getCoupen(coupon) {
        //document.getElementById('couponID').value = coupon
        //applyCoupon()
        //let BIN=document.getElementById('couponID')
        //BIN.select();
        // document.execCommand("copy")

        //})
    //}
</script>