<section>
    {{!-- <h1 class="text-center">My Bag<i class="fa-solid fa-bag-shopping"></i></h1> --}}
        <img src="/assets/img/carbnnr.jpg" width="100%" height="300">

    <div class="container"><br>
        
        
        <div class="row">
            <div class="col-lg-10 col-xl-10">


                <table  style="width: 60rem;border-collapse: separate;border-spacing:0 10px ;">

                    {{!-- <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Item</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Size</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead> --}}

                    <tbody>

                        {{#each products}}
                        <tr >

                            <td><img class="" width="160px" height="160px" src="/product-images/{{this.product.myimg.[0]}}" alt="">
                            </td>
                           
                            <td> <label class="text-success fw-bold">Name : </label>{{this.product.name}}<br>
                                <label class="text-success fw-bold">Category : </label>{{this.category.name}}<br>
                               
                            </td>
                            
                            
                            <td>                                
                                <label class="text-success fw-bold">Size : </label>{{this.product.size}}<br>
                                 <label class="text-success fw-bold">Price : </label>Rs: {{this.product.price}}
                                </td>
                                
                           
                                
                            <td><label class="text-success fw-bold">Quantity : </label>
                            <div class="border-2 border-primary">
                                <input  type="number" aria-readonly="true" min="1" step="1"
                                    data-bind="value:replyNumber" style="width: 50px;" value="{{this.quantity}}"
                                    id="{{this.product._id}}" name="quantity">
                                <button class="btn btn-outline-success border-0"
                                    onclick="setToCount('{{this.product._id}}')">
                                    <i class="fa-solid fa-floppy-disk"></i></button>
                                    </div>
                            </td>
                            <td><button class="btn btn-danger border-0"
                                    onclick="delCartItem('{{this.product._id}}',this)"><i
                                        class="fa-regular fa-x"></i></button>
                                    
                            </td>
                            
                        </tr>
                        
                        {{/each}}
                        
                    </tbody>

                </table>
            </div>
            <div class="col-2 col-md-2 col-lg-2 col-xl-2 bg-secondary">
                
            </div>
        </div>
        <hr>
        <h2 class="ml-4">Total: Rs. <span class="text-success" id="total-price">{{totalValue}}</span></h2>
        <a href="/place_order" class="btn btn-outline-success float-right pr-5">Place Order<i
                class="fa-solid fa-cloud-arrow-down"></i></a>


</section>

<script>
    //function deleteItem(id, obj) {
    // if (confirm("Do you want delete this item")) {
    //   delCartItem(id),
    //     $(obj).closest('tr').remove()
    //}
    //}

    function changrValue() {
        document.getElementById('pro_qty').value = document.getElementById('pro_qty').text
        alert(document.getElementById('pro_qty').value)
    }
</script>