<section>

    <div class="container">
        <div class="mt-5 bg-light text-center">
            <h4> Your Order History...</h4>
        </div>
        <table class="table mt-3 text-center bg-success" id="productJS">
            <thead class="">
                <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Name</th>
                    <th scope="col">Street</th>                    
                    <th scope="col">Mobile</th>
                    <th scope="col">Pin</th>
                    <th scope="col">Landmark</th>
                    <th scope="col">City</th>
                    <th scope="col">District</th>
                    <th scope="col">State</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Billing</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="text-center align-middle">

                {{#each order}}
                <tr>
                    <td><a href="/view_order_products/{{this._id}}" class="btn btn-outline-success border-0">
                            <i class="fa-solid fa-eye"></i> </a></td>

                    <td>{{this.deliveryDetails.name}}</td>
                    <td>{{this.deliveryDetails.street}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>{{this.deliveryDetails.pin}}</td>
                    <td>{{this.deliveryDetails.landmark}}</td>
                    <td>{{this.deliveryDetails.city}}</td>
                    <td>{{this.deliveryDetails.district}}</td>
                    <td>{{this.deliveryDetails.state}}</td>
                    <td>{{this.deliveryDetails.totalAmount}}</td>
                    <td>{{this.deliveryDetails.paymentMethod}}</td>
                    {{#if (eq this.deliveryDetails.status "Pending")}}
                    <td style="color:red; font-weight: bolder;" id="status">
                        {{this.deliveryDetails.status}}...</td>
                    {{/if}}

                    {{#if (eq this.deliveryDetails.status "Placed")}}
                    <td class="text-warning" style=" font-weight: bolder;" id="status">
                        {{this.deliveryDetails.status}}</td>
                    {{/if}}

                    {{#if (eq this.deliveryDetails.status "Shipped")}}
                    <td style="color:blue;  font-weight: bolder" id="status">{{this.deliveryDetails.status}}
                    </td>
                    {{/if}}

                    {{#if (eq this.deliveryDetails.status "Delivered")}}
                    <td style="color:green; font-weight: bolder;" id="status">{{this.deliveryDetails.status}}
                    </td>
                    {{/if}}
                    
                    <td>{{formatDate this.deliveryDetails.date}}</td>
                    <td><a class="btn btn-outline-success border-0" href="/invoice/{{this._id}}">
                        <img src="/assets/img/bill.png" width="35px" alt="..."> Billing</a>
                    </td>

                    <td><button class="btn btn-outline-danger border-0" onclick="delOrderItems('{{this._id}}',this)">
                        <img src="/assets/img/download.png" width="35px" alt="..."> Cancel</button>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</section>
<!-- Start Footer -->
<footer class="bg-dark mt-5" id="tempaltemo_footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-success border-bottom pb-3 border-light logo">SHB Shop</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<i class="fas fa-map-marker-alt fa-fw"></i>
						123 Kinfra at 10660
					</li>
					<li>
						<i class="fa fa-phone fa-fw"></i>
						<a class="text-decoration-none" href="tel:010-020-0340">+91 9746 182 666</a>
					</li>
					<li>
						<i class="fa fa-envelope fa-fw"></i>
						<a class="text-decoration-none" href="mailto:info@company.com">shb@company.com</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li><a class="text-decoration-none" href="#">Home</a></li>
					<li><a class="text-decoration-none" href="#">About Us</a></li>
					<li><a class="text-decoration-none" href="#">Shop Locations</a></li>
					<li><a class="text-decoration-none" href="#">Contact</a></li>
				</ul>
			</div>

		</div>

		<div class="row text-light mb-4">
			<div class="col-12 mb-3">
				<div class="w-100 my-3 border-top border-light"></div>
			</div>
			<div class="col-auto me-auto">
				<ul class="list-inline text-left footer-icons">
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-facebook-f fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-instagram fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-twitter fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-linkedin fa-lg fa-fw"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-auto">
				<label class="sr-only" for="subscribeEmail">Email address</label>
				<div class="input-group mb-2">
					<input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
						placeholder="Email address">
					<div class="input-group-text btn-success text-light">Subscribe</div>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 bg-black py-3">
		<div class="container">
			<div class="row pt-2">
				<div class="col-12">
					<p class="text-left text-light">
						Copyright &copy; 2021 SHB
						| Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">shb</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</footer>
<!-- End Footer -->

<script>
    $(document).ready(function () {
        $('#productJS').DataTable();
    });

    

    //function deleteOrder(id, obj) {

        //if (confirm("Do you want cancel this order")) {
            //delOrderItems(id,obj),
                //$(obj).closest('tr').remove()
        //}
    //}

</script>