
<section>
    
    <div class="container">        
        <h4>Your Order Details...</h4><br>
        <table class="table mt-3 text-center bg-success" id="productJS">
            <thead>
                <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pin Code</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>                    
                </tr>
            </thead>
            <tbody class="text-center align-middle">
               
                {{#each order}}
                <tr> 
                   <td><a href="/view_order_products/{{this._id}}" class="btn btn-outline-success border-0">
                    <i class="fa-solid fa-eye"></i> </a></td>
                    
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pin}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td> 
                    <td>{{this.deliveryDetails.totalAmount}}</td> 
                    <td>{{this.deliveryDetails.paymentMethod}}</td>                                        
                    <td style="color:rgb(255, 166, 1);">{{this.deliveryDetails.status}}</td>
                    <td>{{this.deliveryDetails.date}}</td>
                     <td><button class="btn btn-outline-danger border-0"
                            onclick="deleteOrder('{{this._id}}',this)"><img src="/assets/img/download.png" width="35px" alt="..."> Cancel</button>
                    </td>
                </tr>
                {{/each}}
                
            </tbody>
        </table>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#productJS').DataTable();
    });


    function deleteOrder(id, obj) {
        if (confirm("Do you want cancel this order")) {
            delOrderItems(id),
                $(obj).closest('tr').remove()
        }
    }

</script>