 <img src="/assets/img/Checkout-Banner-2.jpg" width="100%">
<div class="container p-5 mt-5">
   
    <form action="/checkout" method="post" id="checkout-form" >
        <div class="row ">
            <div class="col-xl-4 bg-light  checkout">
                <br>
                <h2 class="text-success">Enter Delivery Details</h2><br>
                <a href="">Click here</a><p> to show address list.</p>
                {{#if (neq address "0")}}
                {{#each address}}
                
                <input type="text" class="form-control border-primary" name="name" value="{{this.deliveryDetails.name}}" placeholder="Name"><br>

                
                <input type="text" class="form-control border-primary" name="street" value="{{this.deliveryDetails.street}}" placeholder="Street"><br>

                
                <input type="text" class="form-control border-primary" name="mobile" value="{{this.deliveryDetails.mobile}}" placeholder="Mobile"><br>

                
                <input type="number" class="form-control border-primary" name="pin" value="{{this.deliveryDetails.pin}}" placeholder="Pincode"><br>

                
                <input type="text" class="form-control border-primary" name="landmark" value="{{this.deliveryDetails.landmark}}" placeholder="Landmark"><br>

                <input type="text" class="form-control border-primary" name="city" value="{{this.deliveryDetails.city}}" placeholder="City"><br>

                <input type="text" class="form-control border-primary" name="district" value="{{this.deliveryDetails.district}}" placeholder="District"><br>

                <input type="text" class="form-control border-primary" name="state" value="{{this.deliveryDetails.state}}" placeholder="State"><br>

                    {{/each}}
                    {{else}}
                    <input type="text" class="form-control border-primary" name="name" value="" placeholder="Name"><br>

                
                <input type="text" class="form-control border-primary" name="street" value="" placeholder="Street"><br>

                
                <input type="text" class="form-control border-primary" name="mobile" value="" placeholder="Mobile"><br>

                
                <input type="number" class="form-control border-primary" name="pin" value="" placeholder="Pincode"><br>

                
                <input type="text" class="form-control border-primary" name="landmark" value="" placeholder="Landmark"><br>

                <input type="text" class="form-control border-primary" name="city" value="" placeholder="City"><br>

                <input type="text" class="form-control border-primary" name="district" value="" placeholder="District"><br>

                <input type="text" class="form-control border-primary" name="state" value="" placeholder="State"><br>

                    {{/if}}
                <input type="text" value="{{user._id}}" name="userId" hidden>

            </div>
            <div class="col-xl-2 ml-3">
                {{!-- <marquee direction=right>
                    <p class="checkoutAnthr"> ----------------------------- </p>
                </marquee> --}}
            </div>

            <div class="col-xl-6 ">
                {{!-- <div class="row "> --}}
                    <div class="mt-2 ">
                        <img src="/assets/img/payment-gateway-integration.jpg" alt="img" width="430px">
                    </div>

                    {{!--style="border-style:dashed;" --}}

                    <h5>Total amount: Rs. <span style="color: blue;font-size: x-large;">{{total}}/-</span></h5>
                    <hr>
                    <p>Payment Method</p>

                    <label>
                        <input type="radio" name="payment-method" value="Online">
                        Card Payment
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="payment-method" value="COD" checked>
                        COD
                    </label><br>

                    <button type="submit" class="btn btn-outline-success border-0" style="float: right;">Checkout<i
                            class="fa-solid fa-thumbs-up"></i></button>


            </div>

        </div>

    </form>
</div>

<script>
    



  $("#checkout-form").submit((e) => {
        e.preventDefault(),

            $.ajax({
                url: '/checkout',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    if (response.codSuccess) {
                        location.href = '/order'
                    }
                    else {
                        razorPayPayment(response)
                    }
                }
            })
    })
 
 
//................validation..................
    $(document).ready(function () {
        $("#checkout-form").validate({
            rules: {
                name: {
                    required: true,
                    lettersonly: true
                },

                mobile: {
                    required: true
                },
                city: {
                    required: true
                },
                pin: {
                    required: true,   
                    digits: true
                },
                address: {
                    required: true
                }
            }
        })

    })

</script>