<img src="/assets/img/Checkout-Banner-2.jpg" class="mt-4 " width="100%" height="220">

<div class="container">
    <h1 class="text-center mt-5"><u>Checkout</u></h1>
</div>

<div class="modal fade" id="shippingaddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <img src="/assets/img/shp.jpg" width="100">
                </div>

                <h5 class="modal-title" id="staticBackdropLabel">Shipping Address List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <table class="table-responsive" style="width: 68em;border-color: blue;" id="productsJS">
                            <tbody class="table-bordered">
                                {{#each shipAddressList.address}}
                                <tr>
                                    <td>
                                        <p>Name : </p>
                                        <p>Mobile : </p>
                                        <p class="text-primary">Street :</p>
                                    </td>
                                    <td>
                                        <p>{{this.name}}</p>
                                        <p>{{this.altermobile}}</p>
                                        <p class="text-primary">{{this.streetaddress}}</p>
                                    </td>


                                    <td>
                                        <p>PinCode : </p>
                                        <p>City : </p>
                                        <p class="text-primary">Landmark :</p>
                                    </td>
                                    <td>
                                        <p>{{this.pincode}}</p>
                                        <p>{{this.city}}</p>
                                        <p class="text-primary">{{this.landmark}}</p>
                                    </td>

                                    <td>
                                        <p>District :</p>
                                        <p>State :</p>
                                    </td>
                                    <td>
                                        <p>{{this.district}}</p>
                                        <p>{{this.state}}</p>
                                    </td>
                                    <td>

                                        <button onclick="editShipAddress('{{this._id}}',this,false)"
                                            class="btn btn-success">
                                            Select</button>
                                        {{!-- <button class="btn btn-outline-danger border-0"
                                            onclick="delShippAddress('{{this._id}}',this)"><i
                                                class="fa-solid fa-trash"></i></button> --}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<form action="" method="" id="checkout-form">
    <div class="container mt-5">

        <div class="row ">
            <div class="col-lg-6 col-xl-6 bg-white">
                <br>
                <h5>Enter Delivery Details</h5>
                <br>

                <div class="row">
                    <a class="btn btn-danger" href="" data-bs-toggle="modal" data-bs-target="#shippingaddress">Click
                        here to show address list</a>
                </div>

                <div class="row editColor">

                    {{#if (neq address "0")}}
                    <div class="col">
                        {{#each address}}

                        <label>Name</label>
                        <input type="text" class="form-control " id="shipname" name="name"
                            value="{{this.deliveryDetails.name}}" placeholder=""><br>

                        <label>Street</label>
                        <input type="text" class="form-control" id="streetaddress" name="streetaddress"
                            value="{{this.deliveryDetails.street}}" placeholder=""><br>

                        <label>Mobile</label>
                        <input type="number" class="form-control " id="altermobile" name="altermobile"
                            value="{{this.deliveryDetails.mobile}}" placeholder=""><br>

                        <label>Pincode</label>
                        <input type="number" class="form-control" id="pincode" name="pincode"
                            value="{{this.deliveryDetails.pin}}" placeholder=""><br>
                    </div>
                    <div class="col">

                        <label>Landmark</label>
                        <input type="text" class="form-control" name="landmark" id="landmark"
                            value="{{this.deliveryDetails.landmark}}" placeholder=""><br>

                        <label>City</label>
                        <input type="text" class="form-control" id="city" name="city"
                            value="{{this.deliveryDetails.city}}" placeholder=""><br>

                        <label>District</label>
                        <input type="text" class="form-control" id="district" name="district"
                            value="{{this.deliveryDetails.district}}" placeholder=""><br>

                        <label>State</label>
                        <input type="text" class="form-control" name="state" id="state"
                            value="{{this.deliveryDetails.state}}" placeholder=""><br>
                    </div>

                    {{/each}}
                    {{else}}
                    <div class="col">
                        <label>Name</label>
                        <input type="text" class="form-control " id="shipname" name="name" value="" placeholder=""><br>

                        <label>Street</label>
                        <input type="text" class="form-control" id="streetaddress" name="streetaddress" value=""
                            placeholder=""><br>

                        <label>Mobile</label>
                        <input type="text" class="form-control " id="altermobile" name="altermobile" value=""
                            placeholder=""><br>

                        <label>Pincode</label>
                        <input type="number" class="form-control" id="pincode" name="pincode" value=""
                            placeholder=""><br>
                    </div>
                    <div class="col">

                        <label>Landmark</label>
                        <input type="text" class="form-control" name="landmark" id="landmark" value=""
                            placeholder=""><br>

                        <label>City</label>
                        <input type="text" class="form-control" id="city" name="city" value="" placeholder=""><br>

                        <label>District</label>
                        <input type="text" class="form-control" id="district" name="district" value=""
                            placeholder=""><br>

                        <label>State</label>
                        <input type="text" class="form-control" name="state" id="state" value="" placeholder=""><br>
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="col-lg-6 col-xl-6 p-5">
                <input type="text" value="{{coupen.coupencode}}" name="coupencode" hidden>
                <input type="text" value="{{id}}" name="proid" hidden>


                <div class="mt-2 ">
                    <img src="/assets/img/secure.jpg" alt="img" width="250px">
                </div>

                {{!--style="border-style:dashed;" --}}

                <h5>Total amount: Rs. <span style="color: blue;font-size: x-large;">{{total}}/-</span></h5>
                <hr>
                <p>Payment Method</p>

                <label>
                    <input type="radio" name="payment-method" value="Online">
                    Card Payment
                </label>
                <br>
                <label>
                    <input type="radio" name="payment-method" value="COD" checked>
                    COD
                </label><br>

                <button type="button" onclick="check()" class="btn btn-outline-danger border-0"
                    style="float: right;">Checkout<i class="fa-solid fa-thumbs-up"></i></button>

            </div>

        </div>

    </div>
</form>

<!-- Start Footer -->
<footer class="bg-dark mt-5" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">SHB Shop</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        123 Kinfra at 10660
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">+00 000 000 0000</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">shb@company.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href=""><i
                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href=""><i
                                class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href=""><i
                                class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href=""><i
                                class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                        placeholder="Email address">
                    <div class="input-group-text btn-success text-light">Subscribe</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 SHB
                        | Designed by <a rel="sponsored" href="#" target="_blank">shb</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<script>
    /*$(document).ready(function () {
            $("#checkout-form").validate({
                rules: {
                    name: {
                        required: true,
                        lettersonly: true
                    },
                    streetaddress: {
                        required: true,
    
                    },
                    altermobile: {
                        required: true
                    },
                    pincode: {
                        required: true,
                        number: true
                    },
                    landmark: {
                        required: true
                    },
                    city: {
                        required: true
                    },
                    district: {
                        required: true
                    },
                    state: {
                        required: true
                    }
                    
                }
    
            })
    
        })*/
    function check() {
        if (document.getElementById("shipname").value == "") {
            swal("Please fill Name column")
        }
        else if (document.getElementById("streetaddress").value == "") {
            swal("Please fill Street column")
        }
        else if (document.getElementById("altermobile").value == "") {
            swal("Please fill Mobile column")
        }
        else if (document.getElementById("pincode").value == "") {
            swal("Please fill Pincode column")
        }
        else if (document.getElementById("landmark").value == "") {
            swal("Please fill Landmark column")
        }
        else if (document.getElementById("city").value == "") {
            swal("Please fill City column")
        }
        else if (document.getElementById("district").value == "") {
            swal("Please fill District column")
        }
        else if (document.getElementById("state").value == "") {
            swal("Please fill State column")
        }
        else {
            //e.preventDefault(),

                $.ajax({
                    url: '/checkout',
                    method: 'post',
                    data: $('#checkout-form').serialize(),
                    success: (response) => {
                        if (response.codSuccess) {
                            location.href = '/order'
                        }
                        else {
                            razorPayPayment(response)
                        }
                    }
                })
        }
    }
    $("#checkout-form").submit((e) => {



    })

    function razorPayPayment(order) {

        let options = {
            "key": "rzp_test_uEAmKKJZmehl2V", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            //alert("**********************************"+order),
            "currency": "INR",
            "name": "SHB Online Hub",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                //alert(response.razorpay_payment_id);
                //alert(response.razorpay_order_id);
                //alert(response.razorpay_signature)

                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Shuhaib",
                "email": "shshuaib99@gmail.com",
                "contact": "9746182666"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }

        };
        let rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order'
                }
                else {
                    alert("Payment failed")
                }

            }

        })
    }



</script>