
<section class="mt-5">
<div class="row text-end">
        <h3>Search by category</h3>
        <input type="text" class="form-control" name="category" id="categoryID">

</div>

    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 col-xl-3 mt-3 text-center">
                <div class="card border-0" style="width: 250px; height: 300px;">
                    <a href="/view_product/{{this._id}}">
                        <img src="/product-images/{{this.myimg.[0]}}" class="card-img-top"
                            style="width: 180px; height: 180px;" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}
                        </h5>
                        <p class="card-title"> {{this.description}}
                        </p>
                        <h6 class="card-title">RS :
                            {{this.price}}</h6>

                        <button class="btn btn-outline-light" onclick="addToWishlist('{{this._id}}') ">
                            <i class="fa-solid fa-heart text-success"></i></button>
                        <button class="btn btn-outline-light" onclick="addToCart('{{this._id}}') ">
                            <i class="fa fa-fw fa-cart-arrow-down text-success"></i></button>

                    </div>
                </div>

            </div>
            {{/each}}

        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#productJS').DataTable();
    });
</script>