<img src="/assets/img/shoppg.jpg" width="100%" height="300">

<section class="mt-5 ">
    <div class="row">
        <div class="col-md-6 col-xl-6">
        </div>

        <div class="col-md-6 col-xl-6 mt-3 editColor text-muted">

            <h4>Search by category : </h4>
            <form action="/search_product" method="post" id="">
                <div class="row">

                    <div class="col">
                        {{!-- <input type="text" id="categoryID" name="category" onkeyup=""> --}}
                        <select class="form-select" aria-label="Default select example" name="category" id="categoryID">
                            <option selected>Select Category</option>
                            {{#each category}}
                            <option value="{{this._id}} ">{{this.name}}</option>
                            {{/each}}
                        </select><br>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>

                </div>
                
            </form> 
        </div>
    </div>
    <div class="container">
        <p class="text-muted text-center">Explore the variety of products from the online stock and choose the quantity required. 
              You can save the time otherwise lost in waiting in lengthy queues for billing and payments by easily adding the chosen items to your cart online.
              Select the required date for delivery and pay with a suitable payment option.
              This will help you receive the items whenever you need them and in the available quantity. 
              Order the online grocery comfortably from home for timely doorstep delivery.</p>
        <div class="row">
            {{#each products}}
            <div class="col-md-3 col-md-4 col-lg-3 col-xl-3 ">

                <div class="product-grid mt-3">
                    <div class="product-image">
                        <a href="/view_product/{{this._id}}" class="image">
                            <img class="pic-1" src="/product-images/{{this.myimg.[0]}}" style=" height: 300px;"
                                alt="...">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title text-dark">{{this.name}}</h3>
                        <div class="price">{{this.description}}</div>
                        <div class="price">RS: {{this.price}}</div>
                        <div class="product-button-group">
                            <ul class="social">
                                <li><a href="/view_product/{{this._id}}" data-tip="Quick View"><i
                                            class="fa fa-search"></i></a></li>
                                <li><a class="btn" onclick="addToWishlist('{{this._id}}') "
                                        data-tip="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                            </ul>
                            <a class="add-to-cart btn " onclick="addToCart('{{this._id}}') ">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#productJS').DataTable();
    })


</script>