<div class="container mt-5">
    <div class="row ms-5">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 ">

            <table class="table-responsive align-middle text-center brand-img" style="width: 68em;" id="productJS">
                <thead>
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Description</th>
                        <th scope="col">Category</th>
                        <th>Image</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr class="text-center">
                        <td>{{this.name}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.size}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.category.[0].name}}</td>
                        <td>

                            <div class="zoom">
                                <a href="/view_product/{{this._id}}">
                                    <img src="/product-images/{{this.myimg.[0]}}" width="100px" alt="image">
                                </a>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-outline-light" onclick="wishlist('{{this._id}}') ">
                                <i class="fa-solid fa-heart text-success"></i></button>
                            <button class="btn btn-outline-light" onclick="addToCart('{{this._id}}') ">
                                <i class="fa fa-fw fa-cart-arrow-down text-success"></i></button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#productJS').DataTable();
    });
</script>