<div class="row text-center profile">
    <div class="col-12 col-md-12 col-lg-12 col-Xl-12">
        {{!-- <h2 class="text-success">My Profile...</h2> --}}
        <img src="/assets/img/prfilebanner.png" alt="" width="100%" height="200">
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-4 col-lg-4 col-Xl-4 text-center">

        </div>

        <div class="col-12 col-md-4 col-lg-4 col-Xl-5 p-4 bg-lightblue divtrans" style="height: 200%;margin-top: -5em;">
            <div class="text-center ">
                <div>
                   {{#if personalDet.photo}}
                    <img src="/user-images/{{personalDet.photo}}" id="profImg" class="rounded-circle" alt="Image"
                        width="175" height="170">
                        {{else}}
                        <img src="/assets/img/user.jpg" id="profImg" class="rounded-circle" alt="Image"
                        width="175" height="170">
                        {{/if}}
                </div>
                <div class="text-muted">
                    <p>Name: {{personalDet.personalDetails.firstname}}</p>
                    <p>Email: {{personalDet.email}}</p>
                    <p>Mobile: {{personalDet.mobile}}</p>
                    <p>Location: {{personalDet.personalDetails.currentlocation}}</p>
                    <marquee>
                        <p>" {{personalDet.personalDetails.description}} "</p>
                    </marquee>

                    <button type="button" class="btn btn-outline-primary border-0 " data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-file-pen"></i> Change photo
                    </button>
                </div><br>
                <div class="row">

                    <div class="col"><a class="" href="/wishlist"> <i class="fa-solid fa-heart"></i></a></div>
                    <div class="col"> <a class="" href="/order"> <i class="fa-solid fa-arrow-down-wide-short"></i></a>
                        </li>
                    </div>
                    <div class="col"> <a class="" href="/cart">
                            <i class="fa fa-fw fa-cart-arrow-down"></i></a></div>

                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4 col-Xl-4 p-4 editColor">
            {{!-- <form id="pwdForm"> --}}
                <p class="text-warning">Do you want to change your password?</p>
                <label>Exist Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="">
                <br>
                <label>New password</label>
                <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="">
                <div class="text-end p-1">
                    <button onclick="editPassword('{{personalDet._id}}')" class="btn btn-outline-success"><i
                            class="fa-solid fa-file-pen"></i>Update</button>
                </div>

                {{!--
            </form> --}}
        </div>
        {{!-- file upload modal --}}
        <form action="/updateProfilePic/{{personalDet._id}}" method="post" enctype="multipart/form-data">
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Change my photo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" type="file" id="img" name="img" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i>
                                Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="shippingaddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Shipping address list</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                                <table class="table-responsive" style="width: 68em;" id="productsJS">
                                    <thead class="bg-success text-center">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Street</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Pincode</th>
                                            <th scope="col">Landmark</th>
                                            <th scope="col">City</th>
                                            <th scope="col">District</th>
                                            <th scope="col">State</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        {{#each personalDet.address}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.streetaddress}}</td>
                                            <td>{{this.altermobile}}</td>
                                            <td> {{this.pincode}}</td>
                                            <td>{{this.landmark}}</td>
                                            <td>{{this.city}}</td>
                                            <td>{{this.district}}</td>
                                            <td>{{this.state}}</td>
                                            <td>
                                                <button onclick="editShipAddress('{{this._id}}',this,true)"
                                                    class="btn btn-outline-success border-0">
                                                    <i class="fa-solid fa-file-pen"></i></button>
                                                <button class="btn btn-outline-danger border-0"
                                                    onclick="delShippAddress('{{this._id}}',this)"><i
                                                        class="fa-solid fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-md-3 col-lg-3 col-Xl-4 editColor text-muted">
            <h6><u> Personal details </u></h6>
            <form action="/add_personalDet/{{personalDet._id}}" method="post" id="profileForm">
                <label>First name</label>
                <input type="text" class="form-control " id="" name="firstname" placeholder="">
                <br>
                <label>Last name</label>
                <input type="text" class="form-control" id="" name="lastname" placeholder="">
                <br>
                <label>Age</label>
                <input type="text" class="form-control" id="" name="age" placeholder="">
                <br>
                <label>Gender :
                    <input type="radio" name="gender" value="Male" checked>
                    Male
                </label>

                <label>
                    <input type="radio" name="gender" value="Female">
                    Female
                </label>
                <br><br>
                <label>Current Location</label>
                <input type="text" class="form-control " id="" name="currentlocation" placeholder="">
                <br>
                <label>Description</label>
                <input type="text" class="form-control " id="" name="description" placeholder="">
                <br>
                <div class="text-end p-1">
                    <button type="submit" class="btn btn-outline-success">
                        <i class="fa-solid fa-cloud-arrow-up"></i> Submit</button>
                </div>
            </form>
        </div>
        <div class="col">

        </div>
        <div class="col-12 col-md-9 col-lg-8 col-xl-8 bg-light">
            <div class="mt-5">
                <h5>Shipping Address</h5>
                <p class="text-muted"><i> you will be able to move through the checkout process faster, store multiple
                        shipping addresses.</i><a href="" class="text-decoration-none" data-bs-toggle="modal"
                        data-bs-target="#shippingaddress">
                        My address list</a></p>
                <form action="/add_shipping_address" method="post" id="addressform">
                    <div class="row text-muted">

                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 editColor">


                            <label>Name</label>
                            <input type="text" class="form-control " id="shipname" name="name" placeholder="" required>
                            <br>
                            <label>Street address</label>
                            <input type="text" class="form-control" id="streetaddress" name="streetaddress"
                                placeholder="" required>
                            <br>
                            <label>Alternate mobile</label>
                            <input type="text" class="form-control" id="altermobile" name="altermobile" placeholder=""
                                required>
                            <br>
                            <label>Pincode</label>
                            <input type="text" class="form-control" id="pincode" name="pincode" placeholder="" required>
                            <br>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-6 editColor">
                            <label>Landmark</label>
                            <input type="text" class="form-control " id="landmark" name="landmark" placeholder=""
                                required>
                            <br>
                            <label>City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="" required>
                            <br>
                            <label>District</label>
                            <input type="text" class="form-control " id="district" name="district" placeholder=""
                                required>
                            <br>
                            <label>State</label>
                            <input type="text" class="form-control " id="state" name="state" placeholder="" required>
                            <br>
                        </div>
                        <div class="row m-auto">
                            <button type="submit" class="btn btn-success" id="btnShipAddress"><i
                                    class="fa-solid fa-cloud-arrow-up"></i>
                                save</button>
                            <input type="text" class="form-control " id="tempAddressID" name="tempAddressID" value=""
                                placeholder="" hidden>



                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Start Footer -->
<footer class="bg-dark mt-5" id="tempaltemo_footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-success border-bottom pb-3 border-light logo">SHB Shop</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<i class="fas fa-map-marker-alt fa-fw"></i>
						123 Kinfra at 10660
					</li>
					<li>
						<i class="fa fa-phone fa-fw"></i>
						<a class="text-decoration-none" href="tel:010-020-0340">+91 9746 182 666</a>
					</li>
					<li>
						<i class="fa fa-envelope fa-fw"></i>
						<a class="text-decoration-none" href="mailto:info@company.com">shb@company.com</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 pt-5">
				<h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li><a class="text-decoration-none" href="#">Home</a></li>
					<li><a class="text-decoration-none" href="#">About Us</a></li>
					<li><a class="text-decoration-none" href="#">Shop Locations</a></li>
					<li><a class="text-decoration-none" href="#">Contact</a></li>
				</ul>
			</div>

		</div>

		<div class="row text-light mb-4">
			<div class="col-12 mb-3">
				<div class="w-100 my-3 border-top border-light"></div>
			</div>
			<div class="col-auto me-auto">
				<ul class="list-inline text-left footer-icons">
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-facebook-f fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-instagram fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-twitter fa-lg fa-fw"></i></a>
					</li>
					<li class="list-inline-item border border-light rounded-circle text-center">
						<a class="text-light text-decoration-none" target="_blank" href=""><i
								class="fab fa-linkedin fa-lg fa-fw"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-auto">
				<label class="sr-only" for="subscribeEmail">Email address</label>
				<div class="input-group mb-2">
					<input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
						placeholder="Email address">
					<div class="input-group-text btn-success text-light">Subscribe</div>
				</div>
			</div>
		</div>
	</div>

	<div class="w-100 bg-black py-3">
		<div class="container">
			<div class="row pt-2">
				<div class="col-12">
					<p class="text-left text-light">
						Copyright &copy; 2021 SHB
						| Designed by <a rel="sponsored" href="#" target="_blank">shb</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</footer>
<!-- End Footer -->

<script>

    $(document).ready(function () {
        $("#addressform").validate({
            rules: {
                name: {
                    required: true,
                    lettersonly: true

                },
                streetaddress: {
                    required: true
                },
                altermobile: {
                    required: true,
                    number: true
                },
                pincode: {
                    required: true,
                    number: true
                },

                landmark: {
                    required: true
                },
                city: {
                    required: true
                },
                district: {
                    required: true,
                    lettersonly: true
                },
                state: {
                    required: true,
                    lettersonly: true
                }
            }
        })

    })



    $(document).ready(function () {
        $("#profileForm").validate({
            rules: {
                firstname: {
                    required: true,
                    lettersonly: true

                },
                lastname: {
                    required: true,
                    lettersonly: true

                },
                altermobile: {
                    required: true,
                    number: true
                },
                age: {
                    required: true,
                    number: true
                },

                address: {
                    required: true
                },
                currentlocation: {
                    required: true
                },
                description: {
                    required: true
                }
            }
        })

    })
</script>