<div class="row text-center mt-5">
    <p>Add &nbsp;<span><b><u>Products</u></b></span> </p>

</div>
<div class="container mt-5">

    <section>

        {{!-- <div class="d-flex justify-content-center bdrShdw editColor"> --}}
            <form action="/admin/add_product" method="POST" id="addproduct" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-2 col-md-2 col-lg-2 col-xl-2">

                    </div>

                    <div class="col-4 col-md-4 col-lg-4 col-xl-4">

                        <label>Select Category</label>
                        <select class="form-select" aria-label="Default select example" name="category">
                            <option></option>
                            {{#each category}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select><br>

                        {{!-- <label>Select Sub Category</label>
                        <select class="form-select" aria-label="Default select example" name="category">
                            <option></option>
                            {{#each category}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select><br> --}}
                        {{!-- <label>Select Sub Category</label>
                        <select class="form-select" aria-label="Default select example" name="subcategory">
                            <option></option>
                            {{#each category}}
                            <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                        </select><br> --}}

                        <label for="floatingInput">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder=""><br>

                        <label>Price</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="" min="1"
                            step="1"><br>

                        <label>Size</label>
                        <input type="text" class="form-control" id="size" placeholder="" name="size">
                        <br>
                    </div>
                    <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                                <label>Quantity</label>
                        <input type="text" class="form-control" id="qty" placeholder="" name="qty"><br>

                        <label>Description </label>
                        <input type="text" class="form-control" id="description" placeholder="" name="description"><br>

                        <label for="" class="form-label">Images</label>
                        <input class="form-control btn btn-outline-success" type="file" id="img" name="img" required>

                        <div class="row mt-5">
                            <button type="submit" class="btn btn-outline-success border-0"> <i
                                    class="fa-solid fa-cloud-arrow-up"></i>Save</button>
                        </div>
                    </div>
                </div>
            </form>
            {{!--
        </div> --}}

    </section>
</div>

<script>
    $(document).ready(function () {
        $("#addproduct").validate({
            rules: {
                name: {
                    required: true,
                    lettersonly: true

                },
                price: {
                    required: true,
                    number: true
                },
                size: {
                    required: true

                },
                category: {
                    required: true

                },
                qty: {
                    required: true,
                    number: true
                },
                description: {
                    required: true
                }
            }
        })

    })
</script>