<br><br>
<div class="container mt-5">
    <div class="row " style="margin-left: 10em;">
        {{!-- <div class="col-2 col-md-1 col-lg-1 col-xl-1">

        </div> --}}
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-white"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">₹ {{todaySale}}</h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3 ">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-white"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Sale</p>
                    <h6 class="mb-0">₹ {{total_sale}}</h6>
                </div>
            </div>

        </div>
        <div class="col-12 col-md32 col-lg-3 col-xl-3">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x "></i>
                <div class="ms-3">
                    <p class="mb-2">Today Orders</p>
                    <h6 class="mb-0">{{today_orders}}</h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-white"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Orders</p>
                    <h6 class="mb-0">{{total_orders}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>


    
<div class="container p-5">
    <div class="row">
        <div class="col-12 col-md-2 col-lg-2 col-xl-2">

        </div>
        <div class="col-12 col-md-5 col-lg-7 col-xl-7">
            <canvas id="worldwide-sales"></canvas>

        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3 align-end mt-5">
            <canvas id="doughnut-chart" style="max-width:300px"></canvas>

        </div>
    </div>
    
</div>

<script>

    let ctx1 = $("#worldwide-sales").get(0).getContext("2d");
    let myChart1 = new Chart(ctx1, {

        type: "bar",
        data: {
            labels: ["Jan", "Feb", "March", "April", "May", "June", "July", "aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
                label: "Sales",
                data: ["{{details.[0].total}}", "{{details.[1].total}}", "{{details.[2].total}}", "{{details.[3].total}}",
                    "{{details.[4].total}}", "{{details.[5].total}}", "{{details.[6].total}}", "{{details.[7].total}}",
                    "{{details.[8].total}}", "{{details.[9].total}}", "{{details.[10].total}}", "{{details.[11].total}}"],
                backgroundColor: "rgba(0, 156, 255, .7)"
            }

            ]
        },
        options: {
            responsive: true
        }
    });

    let ctx6 = $("#doughnut-chart").get(0).getContext("2d");
    let myChart6 = new Chart(ctx6, {
        type: "doughnut",
        data: {
            labels: ["Pending", "Placed", "Shipped", "Delivered"],
            datasets: [{
                backgroundColor: [
                    "rgb(255, 0, 0)",
                    "rgb(255,255,0)",
                    "rgba(0, 156, 255)",
                    "rgb(0,128,0)"
                ],
                data: ["{{doughnut_chart.pending}}", "{{doughnut_chart.placed}}", "{{doughnut_chart.shipped}}", "{{doughnut_chart.delivered}}"]
            }]
        },
        options: {
            responsive: true
        }
    });

</script>