<div class="container">

    <section>
        <div class="d-flex justify-content-center editColor">
            <form action="/admin/update_product/{{product._id}}" method="post" id="editproduct" enctype="multipart/form-data">
                <p>Update &nbsp;<span><b><u>Products</u></b></span> </p>

                <input type="text" class="form-control" id="inputEmail4" name="name" placeholder="Name"
                    value="{{product.name}}" >
                <br>
                <input type="number" class="form-control" id="price" name="price" placeholder="" min="1" step="1"
                    value="{{product.price}}" >
                {{!-- <input type="text" class="form-control" id="inputAddress" name="price" placeholder="Price"
                    required> --}}
                <br>
                <input type="text" class="form-control" id="inputAddress" placeholder="Size" name="size"
                    value="{{product.size}}" >
                <br>
                <select class="form-select" aria-label="Default select example" name="category"
                    style="border-color: blue;">

                    <option value="{{category._id}}" selected hidden>{{category.name}}</option>
                    {{#each categories}}
                    {{!-- {{#if (neq categories._id category._id)}} --}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{!-- {{/if}} --}}

                    {{/each}}
                </select>


                <br>
                <input type="text" class="form-control" id="qty" placeholder=""  name="qty"
                    value="{{product.qty}}"><br>
                {{!-- <input type="text" class="form-control" id="inputAddress" placeholder="Qauantity" name="qty"
                    value="{{product.qty}}" required>
                <br> --}}

                <input type="text" class="form-control" id="inputCity" placeholder="Description" name="description"
                    value="{{product.description}}" >
                <br>
                <label for="inputCity" class="form-label">Image</label>

                <img src="/product-images/{{product.myimg.[0]}}" style="width: 150px; height: 180px;" id="preview">



                <input class="form-control" type="file" id="img" name="img" multiple onchange=" previewFile(event)" required>

                <div><button type="submit" class="btn btn-outline-success mt-2"><i
                            class="fa-solid fa-cloud-arrow-up"></i>Update</button></div><br>
            </form>
        </div>

    </section>
</div>

<script>
    function previewFile(event) {
        document.getElementById('preview').src = URL.createObjectURL(event.target.files[0])
    }

$(document).ready(function () {
        $("#editproduct").validate({
            rules: {
                name: {
                    required: true,
                    lettersonly: true

                },
                price: {
                    required: true,
                    number:true
                },
                size: {
                    required: true
                    
                },
                category: {
                    required: true
                    
                },
                qty: {
                   required: true,
                    number:true
                },
                description:{
                    required:true
                }
            }
        })

    })



</script>