<div class="container mt-5">

    <div class="row text-center">
        <div>
        <a href="/admin/add_products" class="btn btn-outline-success"><i class="fa-solid fa-file-circle-plus"></i>Add
            Products</a>
            </div>
    </div>

    <section>

        <div class="row d-flex justify-content-center bdrShdw">
            <div class="col-3 col-md-2 col-lg-2 col-xl-2 ">

            </div>

            <div class="col-9 col-md-10 col-lg-10 col-xl-10 datatablescroll">

                <table class="table-responsive" style="width: 68em;" id="productsJS">
                    <thead class="bg-success text-center">
                        <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Size</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" style="width: 15em;">Description</th>
                            <th scope="col">Category</th>
                            <th>Image</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        {{#each products}}
                        <tr class="text-success">


                            <td>{{this.name}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.qty}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.category.[0].name}}</td>
                            {{!-- <div style=""> --}}
                                <td><img style="width: 70px; height: 80px;border-radius: 1mm; border: 5px solid rgb(229, 221, 221)"
                                        src="/product-images/{{this.myimg.[0]}}" alt="image">
                                </td>
                                {{!--
                            </div> --}}
                            <td>
                                <a href="/admin/edit_products/{{this._id}}"
                                    class="btn btn-outline-success border-0">Edit <i
                                        class="fa-solid fa-file-pen"></i></a>
                                <a class="btn btn-outline-danger border-0"
                                    onclick="delProduct('{{this._id}}','{{this.myimg}}', this)">Delete<i
                                        class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<script>
    let dataTable = new simpleDatatables.DataTable("#productsJS")
</script>