<div class="container">
    <header>
        <div class="row  text-center">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <h4><span class="text-success">SHB</span> online hub Administrator</h4>
            </div>
        </div>

    </header>
    <hr>


    <section>
        <div class="row d-flex justify-content-center bdrShdw">

            <div class="col-7 col-md-7 col-lg-9 col-xl-9 ">
                <table class="table" style="width: 68em;" id="productsJS">
                    <thead class="bg-success">
                        <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Size</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" style="width: 15em;">Description</th>
                            <th scope="col">Category</th>
                            <th>Image</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>


                            <td>{{this.name}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.qty}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.category}}</td>
                            <td><img style="width: 50px; height: 50px;" src="/product-images/{{this._id}}.jpg" class="rounded-circle" alt="">
                            </td>
                            <td>
                                <a href="/admin/edit_products/{{this._id}}" class="btn btn-outline-success">Edit <i
                                        class="fa-solid fa-file-pen"></i></a>
                                <a href="/admin/delete_products/{{this._id}}" class="btn btn-outline-danger"
                                    onclick="return confirm('Are u want to delete {{this.Name}} ?')">Delete<i
                                        class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        $('#productsJS').DataTable();
    });
</script>