<div class="container mt-5">

    <section>
        <div class="row d-flex justify-content-center bdrShdw ">
            <div class="col-sm-2 col-md-2 col-lg-1 col-xl-1">

            </div>
            <div class="col-7 col-sm-7 col-md-7 col-lg-9 col-xl-9 datatablescroll">
                <table class="table mt-3 text-center"  id="productsJS">
                    <thead class="bg-success ">
                        <tr>

                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>

                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}

                        {{#if this.isBlock}}
                        <tr class="text-danger">                               
                        {{else}}                           
                        <tr class="text-success">
                         {{/if}}
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.mobile}}</td>
                            <td>
                                {{#if this.isBlock}}
                                <a class="btn btn-outline-danger "
                                    onclick="unBlockUser('{{this._id}}')">Un block?
                                    <i class="fa-solid fa-unlock"></i></a>
                                        {{else}}
                                <a class="btn btn-outline-success border-0 text-center"
                                    onclick="blockUser('{{this._id}}')">Block?
                                    <i class="fa-solid fa-lock"></i>
                                    </a>
                            
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
<script>
    let dataTable=new simpleDatatables.DataTable("#productsJS")
    
</script>