<div class="container">

    <section>

        {{!-- <div class="row d-flex justify-content-center bdrShdw"> --}}
            <div class="row ">

                <div class="col-12 col-md-12 col-xl-12 text-center">

                    <h3>Order Details</h3>
                    <button onclick="exportCsv()" class="w-25 h-75 btn btn-danger">Sales Report <i
                            class="fa-solid fa-download"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-md-1 col-lg-1 col-xl-1">

                </div>
                <div class="col-10 col-md-11 col-lg-11 col-xl-11  align-middle">
                    <table class="w-100 text-center bg-success" id="orderDet">
                        <thead class="">
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Name</th>
                                <th scope="col">Street</th>
                                <th scope="col">Ph:</th>
                                <th scope="col">Pin</th>
                                <th scope="col">Land</th>
                                <th scope="col">City</th>
                                <th scope="col">Dist</th>
                                <th scope="col">State</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Pay</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Track</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center bg-white align-middle">

                            {{#each orders}}
                            <tr>
                                <td><a href="/admin/admin_view_order_products/{{this._id}}"
                                        class="btn btn-outline-success border-0">
                                        <i class="fa-solid fa-eye"></i> </a></td>

                                <td>{{this.deliveryDetails.name}}</td>
                                <td>{{this.deliveryDetails.street}}</td>
                                <td>{{this.deliveryDetails.mobile}}</td>
                                <td>{{this.deliveryDetails.pin}}</td>
                                <td>{{this.deliveryDetails.landmark}}</td>
                                <td>{{this.deliveryDetails.city}}</td>
                                <td>{{this.deliveryDetails.district}}</td>
                                <td>{{this.deliveryDetails.state}}</td>
                                <td>{{this.deliveryDetails.totalAmount}}</td>
                                <td>{{this.deliveryDetails.paymentMethod}}</td>
                                {{#if (eq this.deliveryDetails.status "Pending")}}
                                <td style="color:red; font-weight: bolder;" id="status">
                                    {{this.deliveryDetails.status}}...</td>
                                {{/if}}
                                {{#if (eq this.deliveryDetails.status "Placed")}}
                                <td class="text-warning" style=" font-weight: bolder;" id="status">
                                    {{this.deliveryDetails.status}}</td>
                                {{/if}}

                                {{#if (eq this.deliveryDetails.status "Shipped")}}
                                <td style="color:blue;  font-weight: bolder" id="status">{{this.deliveryDetails.status}}
                                </td>
                                {{/if}}

                                {{#if (eq this.deliveryDetails.status "Delivered")}}
                                <td style="color:green; font-weight: bolder;" id="status">
                                    {{this.deliveryDetails.status}}
                                </td>
                                {{/if}}

                                <td>{{formatDate this.deliveryDetails.date}}</td>
                                <td>
                                    {{#if (eq this.deliveryDetails.status "Placed")}}
                                    <a class="btn btn-outline-success border-0"
                                        onclick="statusShipped('{{this._id}}',this)" id="ship">
                                        <i class="fa-solid fa-ship text-warning"></i>
                                    </a>
                                    {{/if}}

                                    {{#if (eq this.deliveryDetails.status "Shipped")}}
                                    <a class="btn btn-outline-success border-0"
                                        onclick="statusDelivered('{{this._id}}',this)" id="deliver">
                                        <i class="fa-solid fa-truck-fast text-primary"></i>
                                    </a>
                                    {{/if}}
                                    {{#if (eq this.deliveryDetails.status "Delivered")}}
                                    {{!-- <img src="/assets/img/delvr.jpg" width="60"> --}}
                                    <i class="fa-solid fa-check text-success"></i>
                                    </a>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if (eq this.deliveryDetails.status "Delivered")}}
                                    <a class="btn p-0 btn-icon-text" target="_blank" href="/admin/invoice/{{this._id}}"><i
                                            class="fa-solid fa-print"></i>
                                        Invoice</a>
                                    {{else}}
                                    <button class="btn btn-outline-danger border-0"
                                        onclick="deleteOrder('{{this._id}}',this)">Cancel</button>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            {{!--
        </div> --}}
    </section>
</div>

<script>
    let dataTable=new simpleDatatables.DataTable("#orderDet")
    //$(document).ready(function () {
     //   $("#orderDet").DataTable()
    //})
    let date = new Date().toLocaleDateString('en-US', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
        })
        function exportCsv() {
            dataTable.export({
                type: "csv",
                skipColumn: [0, 13, 14],
                filename: "order_report" + " " + date
            });
        }












        function deleteOrder(id, obj) {
            if (confirm("Do you want cancel this order")) {
                delOrderItems(id),
                    $(obj).closest('tr').remove()
            }
        }




</script>